.colorselector-panel{
    width: 290px;
    padding: 9px 7px 10px;
    background-color: #3F3F3F;
    border-radius: 4px;
    margin: 0 auto;
    .colorselector-colors{
        margin-left: 2px;
        overflow: hidden;
    }
    .selector-color{
        float: left;
        width: 20px;
        height: 20px;
        margin: 1px 0 0 1px;
        cursor: pointer;
        background: #fff;
        position: relative;
        .select-dot{
            position: absolute;
            top: 8px;
            right: 8px;
            bottom: 8px;
            left: 8px;
            border-radius: 50%;
            opacity: 1;
            background: #fff;
        }
        .icons{
            background: url(./icons_16_16.png) no-repeat;
            width: 16px;
            height: 16px;
            display: inline-block;
        }
        .icons.slash{
            background-position-y: -96px;
            margin: 2px;
        }
        .icons.colors{
            background-position-y: -112px;
            margin: 2px;
        }
    }
    .selector-color__white, .selector-color-none{
      box-shadow: inset 0 0 0 1px #ddd;
      .select-dot{
        background: #000;
      }
    }
}

.color-selector__ih5{
  display: inline-block;
  .el-color-picker{
    height: 76px;
  }
  *{
    box-sizing: border-box;
  }
  ul,li{
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
.ih5-color-dropdown__selector {
  width: 290px;
  box-sizing: border-box;
  padding: 8px 11px;
  border: 0;
  box-shadow: none;
  background-color: #3F3F3F;
  .el-color-svpanel
  {
      width: 240px;
      height: 150px;
  }
  .el-color-hue-slider.is-vertical{
      height: 150px;
  }
  .el-color-dropdown__link-btn{
    padding: 7px 0;
  }
  .el-input__inner{
    background: rgba(255,255,255,0.5);
  }
  .el-color-dropdown__btn{
    background: rgba(255,255,255,0.5);
  }

}
